<!-- Html file for the root route ('/')/ landing page -->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
		<!-- <link rel="stylesheet" type="text/css" href="../public/stylesheet/index.css"> -->
		<link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
		<style type="text/css">
		</style>
  	</head>
	<body>
		<main>
			<div class="container-fluid wrapper">
				<div class="title">
					<h1>LoL StaTrak</h1>
				</div>
				<div class="form-inline">
					<select class="custom-select mx-md-2 region" id="reg">
						<option value="br">BR</option>
						<option value="eune">EUNE</option>
						<option value="euw">EUW</option>
						<option value="jp">JP</option>
						<option value="kr">KR</option>
						<option value="lan">LAN</option>
						<option value="las">LAS</option>
						<option value="na">NA</option>
						<option value="oce">OCE</option>
						<option value="tr">TR</option>
						<option value="ru">RU</option>
						<option value="pbe">PBE</option>
					</select>
					<input class= "form-control search-bar" type="text" placeholder="Summoner Name" aria-label="Search" id="summoner">
					<button class="btn btn-primary btn-md mx-2" type="submit" id="submit">Search</button>
				</div>
			</div>
			<div class ="summonerInfo" id="output"></div>
			<div class ="footer">
					<div class="container">
						<div class="d-flex justify-content-between">
							<div>
								&copy; 2019 Copyright Son Vu and Andre Mukhsia
							</div>
							<div>
								<a href="https://github.com/cs565-sp2019-stattracker/LoL-StatTracker">
									<i class="fa fa-github fa-md" id="icon"></i>
								</a>
							</div>
					</div>
			</div>
		</main>
	</body>
</html>

<script type ="text/javascript">

	//Contain champion data, used to get name and image of champions
	//See: https://developer.riotgames.com/static-data.html
	var championData = $.getJSON('https://ddragon.leagueoflegends.com/cdn/6.24.1/data/en_US/champion.json', function(file) {
			return file.data;
	});
	
	//URL for getting image of each champion format is "http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{champion name}.png"
	//example for Aatrox "http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Aatrox.png" 
	var championImageSquaresURL = "https://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/"

	//Given champion id, return champion name
	function search(championId){
		var data = championData.responseJSON.data;
		//console.log(data);
		var keys = Object.keys(data);
		//console.log(keys)
		var len = keys.length;
		var champObj = {}
		for(var i = 0; i < len; i += 1) {
			var champion = data[keys[i]];

			if(champion['key'] == championId) {
				//console.log(champion['key']);
				//console.log(champion.name);
				console.log(champion.image);
				console.log(champion.image.full);
				champObj['name'] = champion.name;
				champObj['full'] = champion.image.full;
				console.log(champObj);
				return champObj;
			}
		}
	}

	var showInfo = function(data) {
		var championMax = 10;
		console.log(data);
		$('.summonerInfo').html('');
		var site = '';
		site += '<div class ="container">'
		site += '<table class="table table-striped table-dark my-5">';
		site += '<thead>';
		site += '<tr>'; 
		site += '<th scope="col">Summoner Name</th>';
		site += '<th scope="col">Rank</th>';
		site += '<th scope="col">Win Percentage</th>';
		site += '<th scope="col">League</th>';
		site += '</tr>';
		site += '</thead>';
		site += '<tbody>';
		site += '<tr>';
		site += '<th scope ="row">'+ data.summonerName + '</th>';
		if(data.leagueEntryList.length === 0)
		{
			site += '<th scope ="row">UNRANKED</th>';
			site += '<th scope ="row">N/A</th>';
			site += '<th scope ="row">N/A</th>';
		}
		else
		{
			const winratio = ((data.leagueEntryList[0].wins/(data.leagueEntryList[0].wins + data.leagueEntryList[0].loss))*100).toFixed(2);
			site += '<th scope ="row">'+ data.leagueEntryList[0].tier + " " + data.leagueEntryList[0].rank + '</th>';
			site += '<th scope ="row">'+ winratio + '</th>';
			site += '<th scope ="row">'+ data.leagueEntryList[0].queueType + '</th>';
		}
		site += '</tr>';
		site += '</tbody>';
		site += '</table>';
		site += '</div>'
		site += '<div class ="container">'
		site += '<table class="table table-striped table-dark mb-5">';
		site += '<thead>';
		site += '<tr>';
		site += '<th scope="col">Champion</th>';
		site += '<th scope="col">Name</th>'; //TODO
		site += '<th scope="col">Champion Mastery</th>';
		site += '<th scope="col">Progress</th>';
		site += '</tr>';
		site += '</thead>';
		site += '<tbody>';
			for(var i = 0; i < championMax && i < data.championMasteryList.length; i+=1){
				var champObj = search(data.championMasteryList[i].championId);
				console.log(champObj);
				//Skip removed/ obsolete championIds
				if(champObj === undefined)
				{
					championMax += 1;
				}
				else
				{
					site += '<tr>';
					site += '<th scope = "row">' + "<img class='img' src=" + championImageSquaresURL + champObj.full + '></th>'
					site += '<th scope = "row">' + champObj.name + '</th>'
					site += '<th scope = "row">' + data.championMasteryList[i].championLevel + '</th>'
					if(data.championMasteryList[i].championPointsUntilNextLevel === 0)
						site += '<th scope = "row">MAX Mastery reached</th>'
					else
						site += '<th scope = "row">' + data.championMasteryList[i].championPointsUntilNextLevel + '</th>'
					site += '</tr>';
				}
			}
		site += '</tbody>';
		site += '</table>';
		site += '</div>'
		$('.summonerInfo').html(site);
		$('.summonerInfo').css('display', 'flex');
	};

	var showError = function(data) {
		console.log(data.responseJSON.error);
		toastr.options = {
			"closeButton": true,
			"debug": false,
			"newestOnTop": false,
			"progressBar": false,
			"positionClass": "toast-bottom-right",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "5000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		}
		toastr["warning"](data.responseJSON.error, "Error");
	};

	$('#submit').on('click', function(event){
		console.log("search button clicked event");
		$.ajax({
			'url' : '/frontendTest',
			'type' : 'POST',
			'data' : { region: $('#reg').val(), summoner: $('#summoner').val() },
			'success' : showInfo,
			'error' : showError
		});
		/*if (results == false){
			showError();
		}
		results = false; */
	});

	$('#summoner').on('keyup', function(event){
		console.log('keyup event');
		if(event.which === 13){
			$('#submit').click();
		}
	});

</script>


